{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %} {% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'layout.css' %}">
    </head>
    <body>
        <div class="page_container">
            <ul class="topnavbar">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="{% url 'admin_console' %}">Admin</a></li>
            </ul>

            <header class="header">
                <h1>{% block header %} {% endblock %}</h1>
            </header>

            {% block content %} {% endblock %}

        </div>
    </body>
</html>